.ui.segment.containerS{
  background-color:yellow;
  color:purple;
  font-family: courier;
}

body
{background-image: url("https://cdn.glitch.com/61c30d90-329a-409a-9494-aec940a982b3%2Fhip-hop-background-7.jpg?1552389610055");
}


